[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
python-dotenv = "*"
pygraphviz = "*"
transitions = "*"
line-bot-sdk = "*"
flask = "*"
firebase-admin = "*"
google-cloud-firestore = "*"

[requires]
python_version = "3.6"
